.loading-usages {
    background: url('../img/ajax-loader.gif') no-repeat;
    height: 17px;
    margin: 0 auto;
}

.loading-contains {
    background: url('../../../core/img/loading.gif') no-repeat;
    height: 35px;
    margin: 0 auto;
}

